@import './font.less';
@import './home.less';
@font-face {
  font-family: 'luxFont';
  src: url('./font/PingFangFont.ttf'); //你的资源目录
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wth120 {
  width: 120px !important;
}

wrap body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e5e5e5 !important;
}

html,
body,
#app {
  height: 100%;
  font-weight: 400;
  font-style: normal;
  font-family: 'luxFont', 'PingFang SC', 'Helvetica Neue', Helvetica,
    'Nimbus Sans L', Arial, 'Liberation Sans', 'Hiragino Sans GB',
    'Source Han Sans CN Normal', 'Microsoft YaHei', 'Wenquanyi Micro Hei',
    'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp',
    sans-serif;
}
